@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background-color:#F2E2B7;
} */

.cabecalho{
    background-color:#F2E2B7;
}

header{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-header {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo-header{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.conteudo-header img{
    height: 210px;
    width: auto;
}

.logout-header{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: right;
    align-items: center;
}

.logout-header img{
    height: 50px;
    width: auto;
}

.rodape{
    background: rgba(0, 148, 231, 1);
}

footer {
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-footer{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-footer span {
    font-family: 'Titillium Web';
    color: white;
    font-size: 2.5vw;
}

.copyright{
    font-weight: 700;
}